.task-group {
  width: 100%;
  max-width: 294px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  padding: 0px 8px 8px 8px;
  background: #ecf1fd;
}
.task-group-name {
  color: #001c39;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  padding-left: 8px;
  overflow-wrap: break-word;
}
.task-group-header {
  display: flex;
  width: 278px;
  padding-left: 0px;
  justify-content: space-between;
  align-items: center;
}
.task-group:hover .task-group-header > .icons {
  display: flex;
}

.task-group:hover .task-group-header .icons-button-edit,
.task-group:hover .task-group-header .icons-button-delete {
  background-color: #ecf1fd;
}
.task-group:hover .task-counter-content {
  display: none;
}
